<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Productos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>

  <!-- Lista de productos -->
  <ion-card no-margin-bottom>
      <ion-card-header>
          <ion-card-subtitle color="primary">Lista de productos</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content no-padding>
          <ion-list no-padding>
              <ion-item *ngFor="let product of products">
                  <ion-avatar slot="start">
                      <img [src]="product.image">
                  </ion-avatar>
                  <ion-label text-wrap>
                      <span>{{ product.name }}</span>
                      <p>S/. {{ product.price }}</p>
                  </ion-label>

              </ion-item>
          </ion-list>
      </ion-card-content>
  </ion-card>
  <!-- Lista de productos -->

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
      <ion-fab-button>
          <ion-icon name="add"></ion-icon>
      </ion-fab-button>
  </ion-fab>
</ion-content>